<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poing.admob">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.AdMob"
            android:value="com.poing.admob.AdMob" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
    </application>

</manifest>