<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poingstudios.godot.admob.mediation.vungle">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v2.PoingGodotAdMobVungle"
            android:value="com.poingstudios.godot.admob.mediation.vungle.PoingGodotAdMobVungle" />
    </application>
</manifest>