name: Build Android

on: workflow_dispatch

jobs:
  android-template:
    name: Compiling Gradle (Android)
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        GODOT_VERSIONS: ["4.2.0", "4.2.1", "4.2.2", "4.3.0", "4.4.0", "4.4.1", "4.5.0", "4.5.1", "4.6.0"]

    steps:
    - uses: actions/checkout@v6
      with:
        ref: ${{ github.ref_name }}

    - name: Set plugin version on env
      run: |
        PLUGIN_VERSION=$(find . -name "package.gd" -exec grep 'const VERSION' {} \; | head -n 1 | awk -F'"' '{print $2}')
        echo "PLUGIN_VERSION=v${PLUGIN_VERSION}" >> $GITHUB_ENV

    - name: Build Plugins
      run: |
        chmod +x ./gradlew
        ./gradlew build -PgodotVersion=${{matrix.GODOT_VERSIONS}}

    - name: Compress the artifact output
      run: |
        ./gradlew zipPlugins -PgodotVersion="${{matrix.GODOT_VERSIONS}}"

    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        target_commit: ${{ github.ref_name }}
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: .output/poing-godot-admob-android-v${{matrix.GODOT_VERSIONS}}.zip
        tag: ${{env.PLUGIN_VERSION}}
        overwrite: true
